.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.85rem;
  @media screen and (max-width: 800px){
    align-items: center;
  }

  .title {
    font-size: 1.75rem;
    margin-bottom: 0;
  }

  .preview {
    display: flex;
    justify-content: space-around;


    @media screen and (max-width: 800px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}
