.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  position: relative;

  .image {
    width: 95%;
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }
  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 60%;
    display: none;
  }

  .collection-footer {
    height: 5%;
    display: flex;
    justify-content: center;
    font-size: 18px;

    .name {
      width: 90%;
      //margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }

  &:hover {
    .image{
      opacity: 0.8;
    }
    button{
      opacity: 0.85;
      display: flex;
    }
  }

  @media screen and (max-width: 800px){
    width: 40vw;

    &:hover {
      .image{
        opacity: unset;
      }
      button{
        opacity: unset;
      }
    }
  }
}
