.sign-in-and-sign-up{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
  text-align: center;
  @media screen and (max-width: 1129px){
    flex-direction: column;
  }
}

.sign-in-and-sign-up  div {
  margin: 50px auto;
}
